<!DOCTYPE html>
<html>
  <head>
    <title>ITP Portfolio</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="./../static/assets/css/main.css" />
  </head>
  <body class="is-preload">
    <section id="one" class="main special">
      <div class="container">
        <span class="image fit primary"
          ><img src={{ data['img'] }} alt="" /></span
        >
        <div class="content">
          <header class="major">
            <h2>{{data['title']}}</h2>
          </header>
          <p>{{data['body']}}</p>
        </div>
      </div>
    </section>

    <!-- Scripts -->
    <script src="./../static/assets/js/jquery.min.js"></script>
    <script src="./../static/assets/js/jquery.scrollex.min.js"></script>
    <script src="./../static/assets/js/jquery.scrolly.min.js"></script>
    <script src="./../static/assets/js/browser.min.js"></script>
    <script src="./../static/assets/js/breakpoints.min.js"></script>
    <script src="./../static/assets/js/util.js"></script>
    <script src="./../static/assets/js/main.js"></script>
  </body>
</html>
